*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}


header, section, footer, aside, nav, figure, figcaption {
  display: block;
}

body {
  background-color: #ebebeb;
}

.wrapper {
  width: 90%;
  margin: 28px auto 28px auto;
  padding: 10px 40px 100px 40px;
  background-color: #ebebeb;
}

header {
  width: 100%;
  height: 100px;
  background-color: #4b1019;
  background-image: url('../images/banner.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 200px;
}

nav {
  color: #4b1019;
  float: right;
  height: 100%;
}

nav li {
    height: 100%;
    display: table;
    float: left;
    padding: 35px 20px;

}

nav a:last-child {
  padding-right: 0;
}

nav li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #dc3d3d;
  font-family: 'Kiwi Mar', 'Raleway', sans-serif;
  font-size: 16px;
}

section{
  padding: 5px 5px 5px 5px;
  background-color: #ebebeb;
}


div header{
  background-image: none;
  background-color: #ebebeb;
  height: auto;
}

section.projects{
  float: left;
	width: 659px;
}

.inner_header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo {
    float: left;
    padding: 0px 10px 10px 10px;
    height: 100%;
    width: auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: #dc3d3d;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Kiwi Mar', 'Raleway', sans-serif;
  font-size: 30px;
}

.logo_container h1 span {
  font-weight: 800;
}

article {
  float: left;
  margin: 0px 5px 0px 5px;
  padding: 5px;
}

div {
  display: block;
}


h1 {
  border-bottom: 4px dotted black;
  margin-bottom: 5px;
  color: #4b1019;
}

h2 {
  color: #581721;
}

h3 {
  color: #621b26;
}

h4 {
  color: #70212d;
}

b {
  color: #4b1019;
}

.skills a {
  display: block;
  padding-top: 5px;
  border-bottom: 2px dotted black;
}

.me {
  float: left;
  display: inline-block;
}

.me img {
  width: 100px;
  margin: 5px;
  border-width: 2px;;
  border-style: dotted;
  border-color: black;
}

.portrait {
  float: left;
  display: inline-block;

}

.portrait img {
  width: 550px;
  border-width: medium;
  border-style: solid;
  border-color: black;
}

aside {
  margin-top: 30px;
  float: left;
  width: 20%;
  #background-color: #e0e0e0;

}

article.content{
  margin: 0 5px;
  width: 400px;
}

.large {
  width: 100%;
  height: auto;
  margin-top: 30px;
  background-color: grey;
  align-self: center;
}

.large_picture {
  padding: 10px 0 10px 0px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
